body {
    margin: 0;
    height: 100%;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    text-align: center;
}
p {
    margin-left: 15%;
    text-align: left; /* 문자들의 가운데 정렬을 해제 */
}
input {
    height: 40px;
    width: 70%;
    border: solid 2px #e8e8e8; 
    border-radius: 8px;
}
button {
    height: 40px;
    width: 70%;
    color:#ffffff;
    border: solid 2px #000000; 
    border-radius: 8px;
    background: #000000;
}
.main_content {
    height: 100vh;
    margin-left: 35%;
    margin-right: 35%;
    background: #ffffff;
}
.content{
    height: 100vh;
    background: #eeeeee;
}