* {
    margin: 0;
    padding: 0;
}
body {
    border-top: 0;
    height: 100vh;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    text-align: center;
}
p {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 15%;
    text-align: left; /* 문자들의 가운데 정렬을 해제 */
}
a {
    text-decoration-line: none;
    height: 10px;
    color:#676767;
}
input {
    height: 40px;
    width: 70%;
    border: solid 2px #e8e8e8; 
    border-radius: 8px;
}
h2 {
    padding: 10% 0% 10% 0%;
}
.button_background {
    height: 40px;
    width: 70%;
    color:#ffffff;
    border: solid 2px #000000; 
    border-radius: 8px;
    background: #000000;
}
.main_content {
    height: 100vh;
    margin-left: 35%;
    margin-right: 35%;
    background: #ffffff;
}
.content{
    height: 100vh;
    background: #eeeeee;
}
.input_valid {
    height: 40px;
    width: 65%;
    border: solid 2px #e8e8e8; 
    border-radius: 8px;
    text-align: left;
}